<div id="message-<%= message.id %>" class="message <%= message.user === user ? 'sent' : 'received' %>">

  <small class="message-info">
    <p><strong><%= message.user.name %></strong></p>
    <p><%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
  </small>

<p class="message-content"><%= message.content %></p>
</div>
