<div class="align-items-center text-center mt-2 basic-padding">

  <h1>All users</h1>
    <% @users.each do |user| %>
    <div class="d-flex border w-100 mt-4 rounded" style="height: 100px;">
      <%= image_tag 'profile-picture.webp', alt: 'guide' %>
      <div class="justify-content-start text-start ms-2 mt-1">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p><%= user.short_description %></p>
      </div>
    </div>
    <% end %>
    
    <br>
    <br>
    <h1>Guides</h1>
    <% @guides.each do |guide| %>
    <div class="d-flex border w-100 mt-4 rounded" style="height: 100px;">
      <%= image_tag 'profile-picture.webp', alt: 'guide' %>
      <div class="justify-content-start text-start ms-2 mt-1">
        <h2><%= link_to guide.name, user_path(guide) %></h2>
        <p><%= guide.short_description %></p>
      </div>
    </div>
    <% end %>

</div>
