<div class="container">
  <div class="">
    <h1>Guide show page</h1>
    <h2><%= @user.name %></h2>
    <div class="text-center">
      <% if @user.photo.key != nil %>
        <%= cl_image_tag @user.photo.key, width: 300, crop: :fill, class: "justify-content-center my-3" %>
      <% end %>
    </div>
    <p><%= @user.guide_description %></p>

    <% location = params[:location] %>

    <%= simple_form_for [@user, @match] do |f| %>
      <%= f.input :location_id, as: :hidden, input_html: { value: location } %>
      <%= f.button :submit, "connect", class: 'btn-connect' %>
    <% end %>

    <p><strong>Interests</strong></p>
    <div class="interests-container">
      <% @interests.each do |interest|%>
      <div class="interest">
        <%= interest %>
      </div>
      <% end %>
    </div>
    <p><strong>Languages</strong></p>
    <p>.....</p>
    <p><strong>Reviews</strong></p>
    <% @user.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  </div>
</div>
