<div class="container">
  <div class="mt-3">
    <h1>Guide show page</h1>
    <h2><%= @guide.name %></h2>
    <div class="text-center">
      <% if @guide.photo.key != nil %>
        <%= cl_image_tag @guide.photo.key, width: 300, crop: :fill, class: "justify-content-center my-3" %>
      <% end %>
    </div>
    <p><%= @guide.guide_description %></p>
    <button class="btn-connect">connect</button>
    <p><strong>Interests</strong></p>
    <ul>
      <% @interests.each do |interest|%>
        <li><%= interest %></li>
      <% end %>
    </ul>
    <p><%= link_to "Go back to /users", users_path %></p>
  </div>
</div>
