<div id="location-info">
  <% if location == nil %>
    <%# <div class="location-info-wrapper">empty window</div> %>
  <% else %>

    <div class="location-info-wrapper" data-controller="map-partial">
      <div class="partial-top-bar"><span data-action="click->map-partial#close" class="close">close</span></div>
      <div class="location-info-container">

          <% if defined?(location) %>
  <h1 class="mt-2 mb-1"><%= location.city %></h1>
  <h3 class="mt-0 mb-1"><%= location.country %></h3>
<% end %>

          <!-- if user is not signed in show the login button -->


          <% if defined?(guides) && guides.any? %>
            <h1 class="mt-4">Guides</h1>
            <% if !user_signed_in? %>
              <p> Sign in or sign up to connect with a guide </p>
              <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary mb-2", data: { turbo: false } %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary mb-2", data: { turbo: false } %>
            <% else %>

              <div class="align-items-center text-center">
              <% guides.each do |guide| %>
              <%= link_to user_path(guide, location: location.id), data: { turbo: false }, class: "guide-card-link" do %>
       <div class="d-flex border w-100 mt-4 rounded" style="height: 200;">
      <% if guide.photo.key.present? %>
        <%= cl_image_tag(guide.photo.key, height: 100, gravity: "faces", crop: "fill") %>
      <% else %>
        <%= image_tag 'profile-picture.webp', height: 100, alt: 'guide' %>
      <% end %>
      <div class="justify-content-start text-start ms-2 mt-1">
        <h2><%= guide.name %></h2>
        <p><%= guide.short_description %></p>
        <div class="locations-list mt-3">
          <% locations = guide.locations.where(city: location.city).limit(3) %>
          <% if locations.any? %>
            <p>
              <% locations.each do |loc| %>
                📍 <%= loc.name %><br>
              <% end %>
            </p>
          <% else %>
            <p>No locations available in <%= location.city %> for this guide.</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


            <% end %>
          <% else %>
            <h2 class="mt-5">No guides available</h2>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
