<div class="basic-padding">

  <h2>Apply to be a guide</h2>

  <%= simple_form_for(@user, url: apply_guide_path(@user), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

        <!-- guide description & rate input field -->
        <%= f.input :guide_description, required: true %>

      <%= f.input :current_password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Apply", class: "btn btn-primary" %>
      <%= link_to "Back", :back, class: "btn btn-outline-primary" %>
    </div>
  <% end %>

</div>
