<div class="basic-padding">

  <!-- if user is not signed in, show the login button -->
  <% if !user_signed_in? %>
      <p> <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %></p>

  <!-- if user is signed in, show the profile page -->
  <% else %>

    <br>
    <div class="d-flex pb-4 border-bottom justify-content-between">
      <div class="d-flex align-items-center">
        <% if @user.photo.key != nil %>
          <%= cl_image_tag(@user.photo.key, height: 75, width: 75, gravity: "faces", crop: "fill", class: "rounded-circle") %>
        <% end %>
        <h1 class="ms-3"> <%= @user.name%> </h1>
      </div>
      <div class="d-flex align-items-center">
        <% if @user.guide == false || @user.guide == nil %>
          <%= button_to "Apply to be a guide", new_guide_path(@user), method: :get, class: "btn btn-outline-primary mb-2" %>
        <% end %>
      </div>
    </div>

    <div class="border-bottom pt-4 pb-4">
      <h2 class="mb-3">Your interests</h2>
      <div class="interests-container">
        <% @user.interests.sort_by(&:interest).each do |interest| %>
            <div class="interest-profile align-items-center">
            <span class="me-2"><%= interest.interest %></span>
            <%= button_to 'ⓧ', remove_interest_path(interest_id: interest.id), method: :delete, class: 'btn-delete' %>
          </div>
        <% end %>
      </div>
      <% if @available_interests.any? %>
        <%= form_with url: add_interest_path, method: :post do |f| %>
        <p>Want to add an interest to your profile?</p>
        <div class="input-button-group">
          <%= f.collection_select :interest_id, @available_interests.sort_by(&:interest), :id, :interest, { prompt: "Select interest"}, class: 'input-field' %>
          <%= f.submit "add +", class: "submit-button" %>
        </div>
        <% end %>
      <% end %>
    </div>


    <br>

    <section class="border-bottom pb-3">
      <% if @user.guide == true %>

        <section class="d-flex justify-content-between align-items-center">
          <h2>Your guide locations</h2>

          <section data-controller="new-location">

            <button class="submit-button add-button ms-2 d-flex" data-action="new-location#show:prevent">add +</button>
            <div class="intromodal d-none" data-new-location-target="canvas">
              <div class="modal-content">
                <span class="close" data-action="click->new-location#close:stop">&times;</span>
                <h1>New location</h1>


                  <%= simple_form_for @location do |f| %>
                    <%= f.input :address, placeholder: "Type address...", label: false, class: "new-location-search", input_html: { data: { action: "input->new-location#fetchSearchResults", new_location_target: "input" }, autocomplete: "off" } %>
                  <div class="autocomplete-wrapper new-location-autocomplete">
                    <ul class="list-group" data-new-location-target="results">
                      <!-- here list items will be inserted by the stimulus controller search_from_controller.js -->
                    </ul>
                  </div>
                    <%= f.input :name, placeholder: "Name your location...", label: false, input_html: { data: { new_location_target: "name" } } %>
                    <%= f.hidden_field :full_address, value: "", data: { new_location_target: "address" } %>
                    <%= f.button :submit, value: "add location", class: 'btn btn-primary'%>
                  <% end %>

              </div>
            </div>
          </section>

        </section>

        <ul class="list-group mt-3">
          <% @user.locations.each do |location| %>
            <li class="list-group-item d-flex justify-content-start">
            <%= button_to 'ⓧ', location_path(location.id, current_user.id), class: "btn-delete me-3", method: :delete %>
            <span class="ms-2"><%= location.name %>, <%= location.city %></span>
            </li>
          <% end %>
        </ul>
      <% end %>

    </section>


      <div class="d-flex justify-content-end">
        <div class="d-flex justify-content-start mt-4">
          <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-primary ms-2" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-warning ms-2" %>
        </div>
      </div>

  <% end %>
</div>
