
<div id="match_<%= match.id %>">
  <div class="d-flex border w-100 mt-4 rounded justify-content-between match-card">
    <% if incoming %>
      <span class="right incoming"><%= incoming %></span>
    <% else %>
      <span class="right"><%= match.status %></span>
    <% end %>
        <% if match.tourist.photo.key != nil %>
          <%= cl_image_tag match.tourist.photo.key, width: 300, crop: :fill, class: "justify-content-center my-3" %>
        <% end %>
        <div class="justify-content-start text-start ms-2 mt-1">

          <h3><%= match.tourist.name %></h3>


          <% if match.status == 'pending' %>
            <p><%= match.messages.first.content %></p>
            <div class="row">
              <div class="col-6 mb-3"><%= button_to 'Accept', match_path(match.id, status: 'accepted'), :method => :patch, class: 'btn btn-outline-primary' %></div>
              <div class="col-6 mb-3"><%= button_to 'decline', match_path(match.id, status: 'declined'), :method => :patch, class: 'btn btn-outline-warning' %></div>
            </div>

          <% elsif match.status == 'accepted' %>
            <div class="row">
              <div class="col-6 mb-3"> <%= link_to "Chat", match_path(match), class: "btn btn-primary" %> </div>
            </div>
          <% else %>
            <div class="row">
              destroy match
            </div>
          <% end %>
        </div>
      </div>
</div>
