<div class="container message-container">
  <h1>Send a Message to <strong><%= @match.guide.name %></strong></h1>

  <%= turbo_stream_from "match_#{@match.id}_messages" %>

  <div id="messages" class="messages">

    <% @match.messages.each do |message| %>
      <div id="message-<%= message.id %>"
           class="message <%= 'sent' if message.user == @match.tourist %> <%= 'received' if message.user == @match.guide %>">
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

  <div id="new_message">
    <%= simple_form_for [@match, @message], html: { class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message here...", input_html: { rows: 3, class: "form-control" } %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
