<h1>Send a Message to <%= @match.guide.first_name %> <%= @match.guide.last_name %></h1>

<p><strong><%= @match.guide.name %></p>
<p><strong>Status:</strong> <%= @match.status.capitalize %></p>

<%= form_with(model: @message, url: send_message_match_path(@match), method: :post) do |form| %>
  <div>
    <%= form.text_area :content, placeholder: "Type your message here...", rows: 8 %>
  </div>
  <div>
    <%= form.submit "Send Message" %>
  </div>
<% end %>
