<!DOCTYPE html>
<html>
  <head>
    <title>TripLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="content">

      <%= render "shared/header" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%# <% if !current_page?(no_footer_path)%>
        <%= render "shared/footer" %>
      <%# <% end%>
    </div>

  </body>
</html>
