<!DOCTYPE html>
<html>
  <head>
    <title>TripLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="content">


      <% if user_signed_in? %>
        <%= turbo_stream_from "flashes-#{current_user.id}" %>
        <%= render "shared/flashes", notice: false, alert: false %>

        <%= turbo_stream_from "header-#{current_user.id}" %>
        <%= render "shared/header", added_class: "", user: current_user %>
      <% else %>
        <%= render "shared/flashes", notice: false, alert: false %>
        <%= render "shared/header_logged_out" %>
      <% end %>


      <%= yield %>
      <%# <% if !current_page?(no_footer_path)%>
        <%= render "shared/footer" %>
      <%# <% end%>
    </div>

  </body>
</html>
